# Dependencies directory
node_modules/

# Potential output directories
out/
dist/
lib/

# Editors
.idea/

# TypeScript stuff
*.tsbuildinfo

# Common file extensions
*.jrnl
*.log

# Archives
*.tar.gz
*.zip

# MacOS stuff
.DS_Store
